.rotating-icon {
    animation: rotate 2s linear infinite; /* Adjust duration and timing function as needed */
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .topbar-dropdown .current {
    padding: 5px 0;
    cursor: pointer;
    transition: .3s;
    
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .dropdown-content {
    animation: fadeIn 0.3s;
  }
 
  .mobile-menu-body{
    position: absolute;
    background-color: white;
    height: 400px;
    width: 300px;
    left: 0px;
    top: 0px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-right: 1px solid gray;
    z-index: 4;
  }
  .main-menu__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
}
.menu-title {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Proxima Nova";
  font-style: normal;
  font-size: 13px;
  
}
.menu-title:hover{
  background-color: black;
}
.header__navbar {
  width: 100%;
  margin-top: 2px !important;
  padding: 7px 100px;
}
.main-menu_link{
  width:100px;
  font-size: 13px;
  color: #FFFFFF;
}



@media screen and (min-width:730px) {
   #search_product{
    width: 848px;
    height: 44px;
    border-radius: 100px;
    color:black;
   }   
}

@media screen and (width:430px) {
  .header-container{
    height: 50px;
  }
  
}

/*style={{borderRadius:"100px",width:'848px',height:'44px',color:'black'}}*/