.footer-link:hover{
color: #FFFFFF;
margin-bottom: 0;
}
.footer-link{
    font-size: 15px;
}
.footer-container {
 display: flex;
 flex-direction: column;
  }
.section-1{
   
}  
.section-2{
    margin-top: 0;
}

@media screen and (max-width:700px) {
    .footer-container {
        width: 400px;
    }
    .footer{
        width: 367px;
        margin-left: 5px;
    }
    .footer-link{
        font-size: 12px;
    }
    .input{
        height: 5px;
        width: 150px;
        margin-bottom: 2px;
    }
}