.block-features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 0;
    margin: 0 auto;
    padding: 8px 40px;
}

.block-features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc((100% - 150px) / 4);
     padding: 2rem 1.5rem; 
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.block-features__item-title {
    font-family:  "proxima_nova_altbold";
    font-size: 17px;
    color: #262626;
    font-weight: 400;
}
.block-features__item-subtitle{
    font-size: 12px;
    color: #6C757D;
    font-family: "proxima_nova_altbold";
}
div{
    display: block;
}

@media screen and (max-width:430px){
    .block-features__list{
        display: block;
        width: 100%;
    }
    .block-features__item{
        width: 100%;
        
    }
    .block-features__item-title{
        font-size: 15px;
    }
}
@media screen and (min-width:700px) and (max-width:1030px) {
    .block-features__item{
        display: block;
        
    }
    .block-features__item_title{
        display: flex;
    }
}